# Function
### print ชื่อ XXX นามสุกล YYY รหัส ZZZ
### print เกรด วิชา Stat 1 >> AAA

In [1]:
a = 'ชื่อ กรวิชญ์ นามสกุล ทะรังศรี รหัส 000'
print(a)

ชื่อ กรวิชญ์ นามสกุล ทะรังศรี รหัส 000

In [4]:
name = 'กรวิชญ์'
surname = 'ทะรังศรี'
ID = '009'
v = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(v)

ชื่อ กรวิชญ์ นามสกุล ทะรังศรี รหัส 009

# function template
```pyrhon
def function_name(input):
    do_something
    return output
```

In [5]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    return st

In [6]:
print(print_line1('กรวิชญ์','ทะรังศรี','613020188-1'))

ชื่อ กรวิชญ์ นามสกุล ทะรังศรี รหัส 613020188-1

In [11]:
def print_2lines(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [16]:
print_2lines('กรวิชญ์','ทะรังศรี','613020188-1','A')
print_2lines('โสภิตา','แสงขาว','603021889-5','B')
print_2lines('ธนัชชา','ขุนทอง','603020472-3','B+')
print_2lines('ภัทธวรรธนี','ใจเพียง','603021866-7','B+')

ชื่อ กรวิชญ์ นามสกุล ทะรังศรี รหัส 613020188-1
เกรดวิชา stat1 >>> A
ชื่อ โสภิตา นามสกุล แสงขาว รหัส 603021889-5
เกรดวิชา stat1 >>> B
ชื่อ ธนัชชา นามสกุล ขุนทอง รหัส 603020472-3
เกรดวิชา stat1 >>> B+
ชื่อ ภัทธวรรธนี นามสกุล ใจเพียง รหัส 603021866-7
เกรดวิชา stat1 >>> B+

### fuction without input

In [17]:
def two_x_three():
    x = 2*3
    return x

In [18]:
two_x_three()

6

### function  with deflault argument

In [23]:
def print_2lines_deflault(name1,surname1,ID1,grade='A'):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [24]:
print_2lines_deflault('กรวิชญ์','ทะรังศรี','613020188-1')

ชื่อ กรวิชญ์ นามสกุล ทะรังศรี รหัส 613020188-1
เกรดวิชา stat1 >>> A

In [26]:
print_2lines_deflault(surname1 = 'ทะรังศรี',name1 = 'กรวิชญ์',ID1 = '613020188-1')

ชื่อ กรวิชญ์ นามสกุล ทะรังศรี รหัส 613020188-1
เกรดวิชา stat1 >>> A

# Loop (วนซ้ำ)

```python
for each_member in listA:
    do something
```

In [27]:
for i in [1,2,3]:
    print(i)

1
2
3

In [31]:
for i in 'Koravit':
    print(f'{i} -> /')
    print(' ')

K -> /

o -> /

r -> /

a -> /

v -> /

i -> /

t -> /

## 1 สร้าง list ชื่อเพื่อนที่อยู่ใน แถวยาวเดียวกัน
## 1.5 สร้าง function print ประโยคว่า XXXเรา YYYความรู้สึก ZZZเพือน ทุกคนในแถว 
## 2 วนลูป เรียก function โดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

In [25]:
friend_list = {'พี่เอท', 'พี่แตงโม', 'พี่บูม', 'พี่เจมส์', 'พี่ดายน์', 'พี่ฝน'}

In [57]:
def print_line1(me,emo,friend):
     print(f'{me} รู้สึก {emo} กับ{friend}')

In [58]:
for i in friend_list:
    print_line1('แคมป์','ง่วง',i)

แคมป์ รู้สึก ง่วง กับพี่เอท
แคมป์ รู้สึก ง่วง กับพี่ฝน
แคมป์ รู้สึก ง่วง กับพี่แตงโม
แคมป์ รู้สึก ง่วง กับพี่เจมส์
แคมป์ รู้สึก ง่วง กับพี่บูม
แคมป์ รู้สึก ง่วง กับพี่ดายน์

In [59]:
friend_list

{'พี่ดายน์', 'พี่บูม', 'พี่ฝน', 'พี่เจมส์', 'พี่เอท', 'พี่แตงโม'}

### loop in loop

In [78]:
for name1 in friend_list:
    for name2 in friend_list:
        print_line1(name1,'รัก',name2)

พี่เอท รู้สึก รัก กับพี่เอท
พี่เอท รู้สึก รัก กับพี่ฝน
พี่เอท รู้สึก รัก กับพี่แตงโม
พี่เอท รู้สึก รัก กับพี่เจมส์
พี่เอท รู้สึก รัก กับพี่บูม
พี่เอท รู้สึก รัก กับพี่ดายน์
พี่ฝน รู้สึก รัก กับพี่เอท
พี่ฝน รู้สึก รัก กับพี่ฝน
พี่ฝน รู้สึก รัก กับพี่แตงโม
พี่ฝน รู้สึก รัก กับพี่เจมส์
พี่ฝน รู้สึก รัก กับพี่บูม
พี่ฝน รู้สึก รัก กับพี่ดายน์
พี่แตงโม รู้สึก รัก กับพี่เอท
พี่แตงโม รู้สึก รัก กับพี่ฝน
พี่แตงโม รู้สึก รัก กับพี่แตงโม
พี่แตงโม รู้สึก รัก กับพี่เจมส์
พี่แตงโม รู้สึก รัก กับพี่บูม
พี่แตงโม รู้สึก รัก กับพี่ดายน์
พี่เจมส์ รู้สึก รัก กับพี่เอท
พี่เจมส์ รู้สึก รัก กับพี่ฝน
พี่เจมส์ รู้สึก รัก กับพี่แตงโม
พี่เจมส์ รู้สึก รัก กับพี่เจมส์
พี่เจมส์ รู้สึก รัก กับพี่บูม
พี่เจมส์ รู้สึก รัก กับพี่ดายน์
พี่บูม รู้สึก รัก กับพี่เอท
พี่บูม รู้สึก รัก กับพี่ฝน
พี่บูม รู้สึก รัก กับพี่แตงโม
พี่บูม รู้สึก รัก กับพี่เจมส์
พี่บูม รู้สึก รัก กับพี่บูม
พี่บูม รู้สึก รัก กับพี่ดายน์
พี่ดายน์ รู้สึก รัก กับพี่เอท
พี่ดายน์ รู้สึก รัก กับพี่ฝน
พี่ดายน์ รู้สึก รัก กับพี่แตงโม
พี่ดายน์ รู้สึก รัก กับพี่เจมส์
พี่ดายน์ รู้สึก รัก กับพี่บูม
พี่ดายน์ รู้สึก รัก กับพี่ดายน์

### loop in function

In [33]:
def print_feelings(I,feeling,friends):
    for friend in friends:
        print(f'{I} {feeling} {friend}')

In [34]:
friend_list = {'พี่เอท', 'พี่แตงโม', 'พี่บูม', 'พี่เจมส์', 'พี่ดายน์', 'พี่ฝน'}

In [49]:
print_feelings('แคมป์','ง่วง', friend_list)

แคมป์ ง่วง พี่เอท
แคมป์ ง่วง พี่ฝน
แคมป์ ง่วง พี่แตงโม
แคมป์ ง่วง พี่เจมส์
แคมป์ ง่วง พี่บูม
แคมป์ ง่วง พี่ดายน์

### looping in dict

In [50]:
name_grade = {'กรวิชญ์':'A','สุภนิตา':'C','ปนัดดา':'A','ทรงกลต':'F'}
name_grade

{'กรวิชญ์': 'A', 'สุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลต': 'F'}

In [51]:
name_grade['ปนัดดา']

'A'

In [39]:
name_grade.keys()

dict_keys(['กรวิชญ์', 'สุภนิตา', 'ปนัดดา', 'ทรงกลต'])

In [42]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

กรวิชญ์ ได้เกรด A
สุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลต ได้เกรด F

# conditional
# == ,!= , >= ,<= , < , >

```python
if condition1:
    do something
elif condition2:
    do another thing
else:
    do ...
```

In [80]:
for name1 in friend_list:
    for name2 in friend_list:
        if name1 != name2:
            print_line1(name1,'รัก',name2)

พี่เอท รู้สึก รัก กับพี่ฝน
พี่เอท รู้สึก รัก กับพี่แตงโม
พี่เอท รู้สึก รัก กับพี่เจมส์
พี่เอท รู้สึก รัก กับพี่บูม
พี่เอท รู้สึก รัก กับพี่ดายน์
พี่ฝน รู้สึก รัก กับพี่เอท
พี่ฝน รู้สึก รัก กับพี่แตงโม
พี่ฝน รู้สึก รัก กับพี่เจมส์
พี่ฝน รู้สึก รัก กับพี่บูม
พี่ฝน รู้สึก รัก กับพี่ดายน์
พี่แตงโม รู้สึก รัก กับพี่เอท
พี่แตงโม รู้สึก รัก กับพี่ฝน
พี่แตงโม รู้สึก รัก กับพี่เจมส์
พี่แตงโม รู้สึก รัก กับพี่บูม
พี่แตงโม รู้สึก รัก กับพี่ดายน์
พี่เจมส์ รู้สึก รัก กับพี่เอท
พี่เจมส์ รู้สึก รัก กับพี่ฝน
พี่เจมส์ รู้สึก รัก กับพี่แตงโม
พี่เจมส์ รู้สึก รัก กับพี่บูม
พี่เจมส์ รู้สึก รัก กับพี่ดายน์
พี่บูม รู้สึก รัก กับพี่เอท
พี่บูม รู้สึก รัก กับพี่ฝน
พี่บูม รู้สึก รัก กับพี่แตงโม
พี่บูม รู้สึก รัก กับพี่เจมส์
พี่บูม รู้สึก รัก กับพี่ดายน์
พี่ดายน์ รู้สึก รัก กับพี่เอท
พี่ดายน์ รู้สึก รัก กับพี่ฝน
พี่ดายน์ รู้สึก รัก กับพี่แตงโม
พี่ดายน์ รู้สึก รัก กับพี่เจมส์
พี่ดายน์ รู้สึก รัก กับพี่บูม

In [82]:
if True:
    print('Yes')

Yes

In [83]:
if False:
    print('No')

In [84]:
if False:
    print('Yes')
else:
    print('NO')

NO

In [86]:
1 == 1

True

In [87]:
if 1 == 1:
    print('1=1')

1=1

# Hw
เขียน function ตัดเกรด โดยที่ input เป็น คะแนน(0-100) output เป็นเกรด(F-A)

input = [1, 50 , 65 , 90 , 101,  -5, 49 ]